<div>


	<p>
		Poetry is great, but sometimes it's hard to write a whole idea to the end. However, losing some cool idea to the void sucks. I'm hoping this site can collect these lines, and through a little random luck, make some interesting poems out of them. In a similar vein, songs get stuck in heads. So let out those lyrics here too and maybe some interesting ideas will turn up.
	</p>


	<p><a href="https://github.com/sdgu/ineffablue">Contribute</a></p>


	<p>
		Check out <a href="https://github.com/Urigo/angular-spinkit">Angular Spinkit</a> and <a href="https://github.com/djds4rce/angular-socialshare">Angular Socialshare</a> for cool loading and Twitter buttons.
	</p>








</div>