<div>


<div ng-repeat="poem in poems | orderBy:'-latestDate'">
	<div class="poem">

		<div class="poemHeader">
			<a href="/#/poems/{{poem._id}}">Go To Poem</a>

		</div>

		<div ng-repeat="line in poem.lines">
			<span ng-bind="line.text"></span> <!-- by <span ng-bind="line.poet"></span> -->
		</div>
		<span ng-hide="poem.length === poem.lines.length">...</span>
		<div class="poemFooter">
			
			<a twitter data-lang="en" data-count='horizontal' data-url='http://ineffa.blue/#/poems/{{poem._id}}' data-via='' data-size="medium" data-text='' ></a>
			
		</div>



	</div>
</div>


</div>