html
{
  /*height: 100%;*/
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
}

body
{
	/*min-height: 100%;*/ /* removed so the loading screen doesn't scroll, may break something else */
	margin: 0;

}

a 
{
  color: #00B7FF;
}

table td
{
	padding: 5px 10px 5px 10px;
}

table td:hover
{
	background: #00263F;


}

#titleBlue
{
	color: #D8F7FF;
}

.loadingInd
{

}

#siteTitle
{
	position: relative;
	background-color: #FCFCFF;

}

#header
{
	top: 0;
	position: relative;
	background-color: #5F5F5F;
	/*padding-left: 20px;*/
	padding: 5px 0px 10px 20px;
}

#header a
{
	color: #D8F7FF;
	/*text-decoration: none;*/
}

#header h2
{
	color: white;
	margin-bottom: 5px;
}

#header h3
{
	color: white;
	margin: 0px 0px 5px 0px;
}

#content
{
	margin: 0px;
	padding: 0px 20px 0px 20px;
}

.pageWidth
{

	margin: 0px 0%;
	box-sizing: border-box;

}

#pageContent
{
	background-color: #fcfcff;
	padding: 10px 15px;
	/*box-shadow: 0px 0px 7px #999;*/

}

.poem
{
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
	border-top: 1px dotted #bbb;
	/*border-radius: 8px;*/
	/*background: linear-gradient(#e6faff, #b3f0ff);*/
}

.poemHeader
{
	text-align: right;
}

.poemFooter
{

	text-align: right;
	/*width: 62px;*/
	height: 21px;
}

.poemFooter a
{
	


}



.shiftUp
{
	margin-bottom: 10px;
}

.loading-title
{
	padding: 30px;
}

.loading-indicator
{
	background: #D7F7FF;
	padding: 20px 0px 20px 0px;
}


.showPoetsButton
{
	float: right;
}